@page
@model CreateUserModel

<h1>Create user:</h1>

<form method="POST">
    <div>
        Name:
        <input asp-for="AppUser.UserName" />
    </div>

    <div>
        Email:
        <input asp-for="AppUser.Email" />
    </div>

    <div>
        "Not hash password":
        <input type="password" asp-for="AppUser.Password" />
    </div>
    <input class="btn btn-default" type="submit" value="Create User" />
</form>
